
/* html { */
/*   height: 100vh */
/* } */

body {
  background-color: lightblue;
}

.vert-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.window{
  background-color: white;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#chat-window{
  /* display: table; */
  background-color: white;
  padding: 15px;
  height: 90vh;
}

#messages-window{
  /* display: table-row; */
  border: 1px solid black;
  overflow-x: scroll;
  width: 90%;
  height: calc(100% - 60px);
  margin: 0 auto;
  padding: 10px 5px;
  background-color: #F0F0F0;
}

#input-window {
  /* display: table-row; */
  width: 90%;
  margin: 0 auto;
}

#message-input {
  width: 100%;
}




